/* @media screen and (max-width: 768px) {
  .header {
    width: 48rem;
    height: 7.5rem;
  }
  .container {
    width: 100%;
    padding: 0 40px;
  }
  .header__logo {
    width: 27.75rem;
    height: 1.688rem;
    font-size: 1.625rem;
    font-weight: 700;
    line-height: 4.063rem;
    letter-spacing: 0.049rem;
  }
  .header__signup {
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 4.063rem;
    letter-spacing: 0.023rem;
  }
  .header__nav {
    margin: 0;
    width: 39rem;
  }
  .header__nav-list {
    width: 38.938rem;
  }
  .header__nav-items {
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 4.063rem;
    letter-spacing: 0.023rem;
  }
  .header__search input {
    display: none;
    margin: 0;
  }
  .header__search::after {
    content: '';
    display: block;
    width: 0.813rem;
    height: 0.813rem;
    position: absolute;
    background-image: url(../img/ico_search.svg);
    background-repeat: no-repeat;
    top: -10px;
    left: 50px;
    right: 0;
    bottom: 0;
    margin: 0;
  }
}

@media screen and (max-width: 375px) {
  .header {
    width: 23.438rem;
    height: 4.375rem;
  }
  .container {
    margin: 0;
    padding: 0;
  }
  .header__logo {
    display: none;
  }
  .header__wrap-top::before {
    content: 'TL';
    width: 1.75rem;
    height: 1.125rem;
    color: #000000;
    font-family: "Open Sans";
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 4.063rem;
    text-transform: uppercase;
    letter-spacing: 0.045rem;
  }
  .header__nav-btn {
    display: block;
  }
  .header__wrap-bottom {
    display: none;
  }
}

@media (max-width:767px) {
  .filter__category, #filter__drop {
    height: 55px;
  }
}

@media (min-width:768px) and (max-width:1023px) {
  .filter__category, #filter__drop {
    height: 65px;
  }
  #filter__drop {
    position: relative;
  }
  .filter--drop #filter__drop {
    position: absolute;
  }
}

@media (max-width:1023px) {
  #filter__drop {
    display: block;
    width: 20px;
    padding: 0 15px;
    left: 100%;
    margin-left: -50px;
    background-color: white;
    box-shadow: -10px 3px 6px 0 white;
  }
  .filter--drop #filter__drop {
    background-image: url('../img/ico_close.svg');
    background-size: 12px;
  }
}

@media (min-width:1024px) {
  #filter__drop {
    display: none;
  }
} */

@media (min-width:768px) and (max-width:1023px) {
  .container {
    width: 100%;
    max-width: 690px;
  }
  .header__logo {
    font-size: 1.625rem;
    line-height: 4.063rem;
    letter-spacing: 0.049rem;
  }
  .header__signup, .header__bag {
    width: 26.5rem;
    text-align: end;
  }
  .header__bag::after {
    right: 0;
  }
  .header__nav {
    margin: 0;
    width: 38.938rem;
    height: 0.75rem;
  }
  .header__nav-items {
    font-size: 0.75rem;
    letter-spacing: 0.023rem;
    padding-left: 10px;
  }
  .header__nav-list {
    display: flex;
    justify-content: flex-start;
  }
  .header__search input {
    display: none;
  }
  .header__search::after {
    display: block;
  }
  .banner__left, .banner__right {
    width: 21.813rem;
    height: 14.438rem;
  }
  .banner__left img {
    width: 20.813rem;
    height: 14.188rem;
  }
  .banner__right img {
    width: 11.813rem;
    height: 14.188rem;
  }
  .banner__container h2 {
    font-size: 1.375rem;
    letter-spacing: 0.041rem;
    top: 10px;
    right: 30px;
  }
  .banner__container .banner__right span {
    top: 4.5625rem;
    right: 4.125rem;
  }
  .offer__wrap-header h1 {
    font-size: 2.5rem;
    letter-spacing: 0.075rem;
  }
  .offer__left-img img, .offer__right-img img {
    width: 13.75rem;
    height: 18.063rem;
  }
  .slider__wrapper {
    padding: 0 20px;
  }
  .item__info {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 0.875rem;
    letter-spacing: 0.026rem;
  }
  .item__info-name {
    font-size: 0.875rem;
    letter-spacing: 0.026rem;
  }
  .item__info-price {
    font-size: 0.875rem;
    letter-spacing: 0.026rem;
  }
  .offer__result {
    position: relative;
    padding: 0px 0px 80px 45px;
  }
  .offer__result button {
    position: absolute;
    bottom: -200px;
    right: 175px;
  }
  .offer__new-price {
    font-size: 1.875rem;
    letter-spacing: 0.056rem;
  }
  .offer__old-price {
    font-size: 1.375rem;
    letter-spacing: 0.041rem;
    left: -40px;
  }
  .arrivals__wrap-header {
    margin: 80px 0;
  }
  .arrivals__wrap-header h1 {
    font-size: 2.5rem;
    letter-spacing: 0.075rem;
  }
  .arrivals-img img {
    width: 12.75rem;
    height: 18.063rem;
  }
  .arrivals__wrap-card article:last-child {
    display: none;
  }
  .footer__left {
    width: 65%;
    border: none;
  }
  .footer__right {
    width: 35%;
  }
  .footer__right-delivery {
    display: none;
  }
  .footer__right-contact {
    display: block;
  }
  .footer__right-twitter {
    margin: 0;
  }
  .footer__right-socials {
    margin: 65px 0;
  }
}