*, *::after, *::before {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

html {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  color: #f14a58;
}

ul, li {
  list-style: none;
}

header {
  width: 81.25rem;
  height: 7.5rem;
}

.container {
  width: 100%;
  max-width: 1180px;
  /* margin: 0;
  padding: 0; */
}

.header__wrap {
  background-color: #fff;
}

.header__wrap-top {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  margin: 0;
  width: 56.938rem;
  color: #000000;
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 4.063rem;
  letter-spacing: 0.056rem;
}

.header__signup {
  margin: 0;
  width: 6.875rem;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 4.063rem;
  letter-spacing: 0.023rem;
}

.header__bag {
  margin: 0;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 4.063rem;
  letter-spacing: 0.023rem;
  position: relative;
}

.header__bag::after {
  content: '';
  display: block;
  width: 0.75rem;
  height: 0.75rem;
  position: absolute;
  background-image: url(../img/ico_bag.png);
  top: 25px;
  left: -27px;
}

.header__wrap-bottom {
  display: flex;
  align-items: baseline;
}

.header__nav {
  margin: 0;
  width: 59.438rem;
  height: 0.813rem;
}

.header__nav-btn {
  width: 40px;
  display: none;
}

.header__nav-btn div {
  height: 5px;
  background-color: #000;
  margin-bottom: 5px;
}

.header__nav-list {
  display: flex;
  justify-content: space-between;
  /* width: 38.938rem; */
}

.header__nav-items {
  margin: 0;
  font-size: 0.813rem;
  font-weight: 700;
  line-height: 4.063rem;
  letter-spacing: 0.024rem;
}

.header__search {
  padding-left: 110px;
  color: #a8a8a8;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 4.063rem;
  letter-spacing: 0.023rem;
  position: relative;
}

.header__search input {
  width: 7.375rem;
  padding: 5px;
  border: none;
  border-bottom: 0.125rem solid #e5e5e5;
}

.header__search::after {
  content: '';
  display: block;
  width: 0.813rem;
  position: absolute;
  background-image: url(../img/ico_search.svg);
  background-repeat: no-repeat;
  top: 26px;
  left: 210px;
  right: 0;
  bottom: 0;
}

.banner__container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.banner__left, .banner__right {
  width: 40.625rem;
  height: 24rem;
  border-top: 0.06rem solid #e5e5e5;
  border-bottom: 0.06rem solid #e5e5e5;
  position: relative;
}

.banner__container h2 {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 4.063rem;
  letter-spacing: 0.053rem;
  position: absolute;
  top: 55px;
  right: 80px;
  z-index: 1;
}

.banner__container .banner__right span {
  color: #757575;
  font-family: "Times New Roman";
  font-style: italic;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  position: absolute;
  top: 6.5625rem;
  right: 8.125rem;
}

.banner__left img {
  width: 36rem;
  height: 22.9rem;
}

.banner__right img {
  width: 19rem;
  height: 23.9rem;
}

.banner__left img:hover, .banner__right img:hover {
  opacity: 0.9;
  cursor: pointer;
}

.offer {
  margin-top: 100px;
}

.offer__wrap {
  height: 695px;
}

.offer__wrap-header {
  text-align: center;
}

.offer__wrap-header h1 {
  margin: 0 0 5px 0;
  font-size: 3.125rem;
  font-weight: 700;
  line-height: 4.063rem;
  letter-spacing: 0.094rem;
}

.offer__wrap-header p {
  font-family: "Times New Roman PS";
  font-style: italic;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.875rem;
}

.offer__wrap-card {
  display: flex;
  justify-content: space-between;
  text-align: -webkit-center;
  align-items: center;
}

.offer__left, .offer__right {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.arrow-up {
  background-image: url(../img/button_up.png);
  background-repeat: no-repeat;
}

.arrow-down {
  background-image: url(../img/button_down.png);
  background-repeat: no-repeat;
}

button.arrow-up, button.arrow-down {
  background-color: #fff;
  width: 1.5rem;
  height: 0.875rem;
  border: none;
  outline: none;
  cursor: pointer;
}

button.arrow-up {
  margin: 70px 0 40px 0;
}

.item__info {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.item__info .item__info-name, .item__info .item__info-price {
  font-family: "Roboto";
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0.026rem;
}

.item__info .item__info-price {
  font-weight: 400;
  line-height: 4.063rem;
}

.offer__plus, .offer_equally {
  color: #000;
  font-family: 'Roboto';
  font-size: 2.125rem;
  font-weight: 700;
  line-height: 4.063rem;
  letter-spacing: 0.064rem;
}

.offer__result {
  width: 350px;
  height: 395px;
}

button.offer__add-bag {
  width: 21.25rem;
  height: 4.688rem;
  border: 0.063rem solid #e5e5e5;
  background-color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 4.063rem;
  letter-spacing: 0.045rem;
  outline: none;
}

button.offer__add-bag:hover {
  cursor: pointer;
  background-color: #e5e5e5;
}
button.offer__add-bag:active {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .header {
    width: 48rem;
    height: 7.5rem;
  }
  .container {
    width: 100%;
    padding: 0 40px;
  }
  .header__logo {
    width: 27.75rem;
    height: 1.688rem;
    font-size: 1.625rem;
    font-weight: 700;
    line-height: 4.063rem;
    letter-spacing: 0.049rem;
  }
  .header__signup {
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 4.063rem;
    letter-spacing: 0.023rem;
  }
  .header__nav {
    margin: 0;
    width: 39rem;
  }
  .header__nav-list {
    width: 38.938rem;
  }
  .header__nav-items {
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 4.063rem;
    letter-spacing: 0.023rem;
  }
  .header__search input {
    display: none;
    margin: 0;
  }
  .header__search::after {
    content: '';
    display: block;
    width: 0.813rem;
    height: 0.813rem;
    position: absolute;
    background-image: url(../img/ico_search.svg);
    background-repeat: no-repeat;
    top: -10px;
    left: 50px;
    right: 0;
    bottom: 0;
    margin: 0;
  }
}

@media screen and (max-width: 375px) {
  .header {
    width: 23.438rem;
    height: 4.375rem;
  }
  .container {
    margin: 0;
    padding: 0;
  }
  .header__logo {
    display: none;
  }
  .header__wrap-top::before {
    content: 'TL';
    width: 1.75rem;
    height: 1.125rem;
    color: #000000;
    font-family: "Open Sans";
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 4.063rem;
    text-transform: uppercase;
    letter-spacing: 0.045rem;
  }
  .header__nav-btn {
    display: block;
  }
  .header__wrap-bottom {
    display: none;
  }
}