*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

html {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  color: #f14a58;
}

ul, li {
  list-style: none;
}

/* header {
  width: 81.25rem;
  height: 7.5rem;
} */

.container {
  width: 100%;
  max-width: 1180px;
  /* margin: 0;
  padding: 0; */
}

.header__wrap {
  background-color: #fff;
}

.header__wrap-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  margin: 0;
  width: 56.938rem;
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 4.063rem;
  letter-spacing: 0.056rem;
}
.header__logo-mobile {
  display: none;
}

.header__signup {
  margin: 0;
  width: 7.875rem;
  font-family: "Roboto", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 4.063rem;
  letter-spacing: 0.023rem;
}

.header__bag {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 4.063rem;
  letter-spacing: 0.023rem;
  position: relative;
}

.header__bag::after {
  content: '';
  display: block;
  width: 0.75rem;
  height: 0.75rem;
  position: absolute;
  background-image: url(../img/ico_bag.png);
  top: 25px;
  left: -27px;
}

.header__wrap-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.header__nav {
  margin: 0;
  width: 59.438rem;
  height: 0.813rem;
}

.header__nav-btn {
  width: 25px;
  height: 3px;
  display: none;
}

.header__nav-btn div {
  height: 5px;
  background-color: #000;
  margin-bottom: 5px;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* width: 38.938rem; */
}

.header__nav-items {
  margin: 0;
  font-size: 0.813rem;
  font-weight: 700;
  line-height: 4.063rem;
  letter-spacing: 0.024rem;
}

.header__search {
  padding-left: 110px;
  color: #a8a8a8;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 4.063rem;
  letter-spacing: 0.023rem;
  position: relative;
}

.header__search input {
  width: 7.375rem;
  padding: 5px;
  border: none;
  border-bottom: 0.125rem solid #e5e5e5;
}

.header__search::after {
  content: '';
  display: block;
  width: 0.813rem;
  position: absolute;
  background-image: url(../img/ico_search.svg);
  background-repeat: no-repeat;
  top: 26px;
  left: 210px;
  right: 0;
  bottom: 0;
}

.banner__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 20px;
}

.banner__left, .banner__right {
  width: 40.625rem;
  height: 24rem;
  border-top: 0.06rem solid #e5e5e5;
  border-bottom: 0.06rem solid #e5e5e5;
  position: relative;
}

.banner__container h2 {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 4.063rem;
  letter-spacing: 0.053rem;
  position: absolute;
  top: 55px;
  right: 80px;
  z-index: 1;
}

.banner__container .banner__right span {
  color: #757575;
  font-family: "Times New Roman";
  font-style: italic;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  position: absolute;
  top: 6.5625rem;
  right: 8.125rem;
}

.banner__left img {
  width: 36rem;
  height: 22.9rem;
}

.banner__right img {
  width: 19rem;
  height: 23.9rem;
}

.banner__left img:hover, .banner__right img:hover {
  opacity: 0.9;
  cursor: pointer;
}

.offer {
  margin-top: 100px;
  margin-bottom: 100px;
}

.offer__wrap {
  height: 695px;
}

.offer__wrap-header {
  text-align: center;
}

.offer__wrap-header h1 {
  margin: 0 0 5px 0;
  font-size: 3.125rem;
  font-weight: 700;
  line-height: 4.063rem;
  letter-spacing: 0.094rem;
}

.offer__wrap-header p {
  font-family: "Times New Roman";
  font-style: italic;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.875rem;
}

.offer__wrap-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: -webkit-center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offer__left, .offer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
}

.offer__left-img {
  position: relative;
}

.arrow-up {
  background-image: url(../img/button_up.png);
  background-repeat: no-repeat;
}

.arrow-down {
  background-image: url(../img/button_down.png);
  background-repeat: no-repeat;
}

button.arrow-up, button.arrow-down {
  background-color: #fff;
  width: 1.5rem;
  height: 0.875rem;
  border: none;
  outline: none;
  cursor: pointer;
}

button.arrow-up {
  margin: 70px 0 40px 0;
}

.slider__wrapper {
  position: relative;
}

.product__img::after {
  position: absolute;
  z-index: 1;
  content: "";
  top: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  padding: 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.8em;
  color: #fc4e52;
}

.product__img:hover::after {
  content: "View item";
  background-color: rgba(71, 71, 71, 0.5);
  height: 77%;
  width: 100%;
}

.item__info {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  letter-spacing: 0.026rem;
}

.item__info-name {
  margin-top: 10px;
  font-weight: 700;
  line-height: 1.5rem;
}

.item__info-price {
  /* font-weight: 400; */
  line-height: 4.063rem;
}

.offer__plus, .offer_equally {
  color: #000;
  font-family: 'Roboto';
  font-size: 2.125rem;
  font-weight: 700;
  line-height: 4.063rem;
  letter-spacing: 0.064rem;
}
.offer_equally-mob {
  display: none;
}
.offer__result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0;
  width: 340px;
  height: 340px;
}

.offer__price {
  margin-bottom: 60px;
  position: relative;
}

.offer__old-price {
  color: #757575;
  font-family: "Roboto";
  font-size: 1.625rem;
  font-weight: 400;
  line-height: 4.063rem;
  letter-spacing: 0.049rem;
  position: absolute;
  bottom: 35px;
  left: -63px;
}

.offer__old-price::after {
  content: "";
  display: block;
  z-index: 1;
  width: 5em;
  height: 1px;
  background-color: #fc4e52;
  -webkit-transform: rotate(-25deg) translateY(-0.7em);
      -ms-transform: rotate(-25deg) translateY(-0.7em);
          transform: rotate(-25deg) translateY(-0.7em);
  position: absolute;
  top: 50px;
}

.offer__new-price {
  font-family: "Roboto";
  font-size: 2.125rem;
  font-weight: 700;
  line-height: 4.063rem;
  letter-spacing: 0.064rem;
}

button.offer__add-bag {
  width: 21.25rem;
  height: 4.688rem;
  border: 0.063rem solid #e5e5e5;
  background-color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 4.063rem;
  letter-spacing: 0.045rem;
  outline: none;
}

button.offer__add-bag:hover {
  cursor: pointer;
  color: #f14a58;
  border-color: #f14a58;
}

button.offer__add-bag:active {
  opacity: 0.7;
}

.arrivals__wrap {
  border-top: 0.06rem solid #e5e5e5;
}

.arrivals__wrap-header {
  margin: 100px 0;
}

.arrivals__wrap-header h1 {
  font-size: 3.125rem;
  font-weight: 700;
  line-height: 4.063rem;
  letter-spacing: 0.094rem;
  text-align: center;
}

.arrivals__wrap-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.arrivals__wrap-card {
  position: relative;
}

.product[data-new="true"] .arrivals__card::before {
  display: block;
  content: 'new';
  width: 3.313rem;
  height: 1.625rem;
  background-color: #f14a58;
  padding-top: 5px;
  position: absolute;
  top: 15px;
  color: #fff;
  font-family: "Roboto";
  font-size: 0.813rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.024rem;
  text-align: center;
}

.arrivals__button {
  width: 21.25rem;
  height: 4.688rem;
  border: 0.063rem solid #e5e5e5;
  background-color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 4.063rem;
  letter-spacing: 0.045rem;
  outline: none;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 100px;
  padding-top: 5px;
}

.arrivals__button a {
  display: block;
}

.arrivals__button:hover {
  border-color: #f14a58;
}

.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 0.06rem solid #e5e5e5;
  border-bottom: 0.06rem solid #e5e5e5;
  padding: 50px 0 100px 0;
}

.footer__wrap h3 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 4.063rem;
  letter-spacing: 0.03rem;
}

.footer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  border-right: 0.06rem solid #e5e5e5;
}

.footer__right-twitter {
  position: relative;
  margin-left: 75px;
}

.footer__right-twitter p {
  font-family: "Roboto";
  font-weight: 400;
  letter-spacing: 0.026rem;
  font-size: 0.875rem;
  line-height: 1.5rem;
  padding-left: 20px;
}

.footer__right-twitter p::before {
  display: block;
  content: '';
  width: 0.875rem;
  height: 0.688rem;
  background-image: url(../img/twi_ico.png);
  background-repeat: no-repeat;
  position: absolute;
  bottom: 6px;
  left: 0px;
}

.footer__right-phone a {
  font-family: "Roboto";
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.026rem;
}

.footer__left-nav-items a {
  font-size: 0.875rem;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 0.026rem;
}

.footer__right {
  width: 50%;
}

.footer__right-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__right-delivery {
  width: 19.75rem;
  height: 4.75rem;
  color: #757575;
  font-family: "Times New Roman";
  font-style: italic;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.875rem;
  margin: 60px 0 0 75px
}

.footer__right-socials {
  margin: 45px 0 0 75px;
}

.footer__right-socials a {
  padding-right: 25px;
}

.footer__down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__copyright, .footer__share {
  display: inline-block;
}

.footer__copyright {
  font-family: "Roboto";
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 4.063rem;
  letter-spacing: 0.023rem;
}

.footer__share {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 4.063rem;
  letter-spacing: 0.034rem;
}

.footer__share span {
  width: 2.875rem;
  height: 1.313rem;
  background-color: #f4f4f4;
  font-family: "Roboto";
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 4.063rem;
  letter-spacing: 0.023rem;
}

.footer__site-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__site-items {
  font-family: "Roboto";
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 4.063rem;
  letter-spacing: 0.023rem;
}

.footer__site-items a {
  padding-right: 15px;
}

.filter__wrap {
  /* border: 1px solid red; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter__category {
  width: 12.25rem;
  height: 4rem;
  margin: 0;
  /* padding-left: 15px; */
  border-right: 0.06rem solid #e5e5e5;
  border-top: 0.06rem solid #e5e5e5;
  border-bottom: 0.06rem solid #e5e5e5;
  position: relative;
}

.filter__category:nth-child(6) {
  border-right: none;
}

.filter__category:hover {
  background-color: #e5e5e5;
  cursor: pointer;
}

.filter__icon {
  background-image: url('../img/ico_down.svg');
  width: 6px;
  height: 3px;
  position: absolute;
  left: 90%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 6px 3px;
}

#filter__drop {
  display: none;
}

.filter__option label {
  display: block;
  padding: 0.6em 5%;
}

.filter__option input {
  display: none;
}

.filter__option:hover {
  color: #fc4e52;
  background-color: #e5e5e5;
}

.filter__option label:hover {
  cursor: pointer;
}

.filter__checked h4 {
  display: none;
}

.filter__category-checked .filter__checked {
  display: block;
  color: #fc4e52;
}

.filter__checked, .filter__name {
  text-align: center;
  margin: 0.5em 0;
}

.filter__options {
  display: none;
}

.filter__option-list {
  /* border: 1px solid green; */
  /* display: none; */
  z-index: 10;
  position: relative;
  background: #fff;
  border: 1px solid #e5e5e5;
  margin-top: 10px;
}

.open {
  display: block;
}

.catalog {
  margin-top: 55px;
}

.catalog__banner {
  text-align: center;
}

.catalog__banner h1 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.125rem;
  letter-spacing: 0.045rem;
}

.catalog__banner span {
  color: #f14a58;
  letter-spacing: 0.045rem;
}

.catalog__banner p {
  font-family: "Times New Roman", sans-serif;
  font-style: italic;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.875rem;
}

.promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.promo__catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 0.06rem solid #e5e5e5;
}

.promo-catalog-item {
  margin: 0;
  position: relative;
  text-align: center;
}

.promo-catalog-item header {
  position: absolute;
  z-index: 1;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 4.063rem;
  letter-spacing: 0.053rem;
}

.promo-catalog-item p {
  font-family: "Times New Roman";
  font-style: italic;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
}

.promo-catalog-item:first-child header {
  width: 50%;
  right: 0;
  top: 50px;
}

.promo-catalog-item:nth-child(2) header, .promo-catalog-item:nth-child(3) header {
  width: 100%;
  top: 65%;
}

.promo-catalog-item:nth-child(3) header h3 {
  color: #f14a58;
}

.promo-catalog-item:nth-child(3) header p {
  color: #757575;
}

.promo-catalog-item a {
  color: #fff;
}

.promo-catalog-item a:hover {
  color: #f14a58;
}

.main__back {
  height: 4.063rem;
  border-top: 0.06rem solid #e5e5e5;
  border-bottom: 0.06rem solid #e5e5e5;
  font-size: 1rem;
  font-weight: 700;
  line-height: 4.063rem;
  letter-spacing: 0.03rem;
}

.product__details-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 60px 0 100px 0;
}

.product__details-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50%;
  margin: 0;
}

.preview img {
  display: block;
  margin: 0 auto;
  width: auto;
  max-width: 100%;
}

.thumbnail img, .thumbnail__img {
  display: block;
  height: 100%;
  width: 100%;
}

.thumbnail__img, .preview__img {
  margin: 0;
  position: relative;
}

.preview {
  -ms-flex-preferred-size: 67%;
      flex-basis: 67%;
}

.thumbnail {
  -ms-flex-preferred-size: 33.3%;
      flex-basis: 33.3%;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  cursor: pointer;
}

/*  */

.arrivals__card {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  position: relative;
}

.arrivals-img::after {
  position: absolute;
  z-index: 1;
  content: "";
  top: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  padding: 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.8em;
  color: #fc4e52;
}

.product:hover .arrivals-img::after {
  content: "View item";
  background-color: rgba(71, 71, 71, 0.5);
  height: 340px;
  width: 240px;
}

/*  */

.thumbnail[data-active='true'] .thumbnail__img::after {
  background-color: rgba(71, 71, 71, 0.5);
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
}

.product__details-info h2 {
  font-family: "Roboto";
  font-size: 1.625rem;
  font-weight: 700;
  line-height: 2.125rem;
  margin: 0 0 23px 0;
}

.product__details-info p {
  width: 33.563rem;
  font-family: "Times New Roman";
  font-style: italic;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.875rem;
  margin-bottom: 50px;
}

.product__details-info .product__details-price {
  font-family: "Roboto";
  font-size: 1.563rem;
  font-weight: 400;
  line-height: 4.063rem;
  letter-spacing: 0.047rem;
}

.product__details {
  margin: 5px 0;
}

.product__details span {
  font-family: "Roboto";
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 2.125rem;
  letter-spacing: 0.023rem;
}

.product__details .button {
  width: 5rem;
  height: 2.5rem;
  border: 0.063rem solid #e5e5e5;
  background-color: #fff;
}

.product__details-bag {
  margin-top: 50px;
  text-align: center;
}

.selected {
  -webkit-box-shadow: 1px 1px 5px #606060;
          box-shadow: 1px 1px 5px #606060;
  color: #f14a58;
}

.current__page {
  height: 4.063rem;
  border-top: 0.06rem solid #e5e5e5;
  border-bottom: 0.06rem solid #e5e5e5;
  font-size: 1rem;
  font-weight: 700;
  line-height: 4.063rem;
  letter-spacing: 0.03rem;
}

.bag__products-wrap {
  margin: 30px 0 117px 0;
}

.arrivals__card:hover .product__img::after {
  content: "Edit item";
  background-color: rgba(71, 71, 71, 0.5);
  height: 100%;
  position: absolute;
  left: 0px;
  width: 100%;
}

.delivery__info p {
  background-color: #f7f7f7;
  -webkit-box-shadow: inset 0.063rem 0.063rem 0 #e5e5e5;
          box-shadow: inset 0.063rem 0.063rem 0 #e5e5e5;
  padding: 15px 0;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 0.023rem;
}

.delivery__info span, #discount, .control, .product__remove {
  color: #fc4e52;
}

.control, .product__remove {
  cursor: pointer;
}

.control {
  border: none;
  background: white;
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 700;
  outline: none;
}

.product--bag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.product--bag .product__img {
  margin: 0;
}

.product--bag__details {
  padding-left: 2%;
  width: 100%;
}

.product--bag__details * {
  text-align: left;
}

/*  */

.product--bag__details .color, .product--bag__details .size, .product--bag__details #amount {
  font-family: "Roboto";
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.023rem;
}

.product__remove {
  margin-top: 40px;
}

.bag__checkout .bag__checkout-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 40px;
}

.bag__checkout {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bag__empty {
  font-family: "Roboto";
  font-size: 0.813rem;
  font-weight: 700;
  line-height: 4.063rem;
  letter-spacing: 0.024rem;
}

.bag__total {
  font-family: "Roboto";
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 4.063rem;
  letter-spacing: 0.041rem;
}

.bag__total #total {
  font-family: "Roboto";
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 4.063rem;
  letter-spacing: 0.045rem;
}

.product--bag {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.product--bag>a {
  display: block;
}